<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="6">
        <div class="clearfix">
          <h1 style="font-size: 200px;" class="float-start display-3 me-4">403</h1>
          <h4 style="font-size: 50px;" class="pt-2">Ồ! Có vấn đề gì đó.</h4>
          <p style="font-size: 20px;" class="text-medium-emphasis float-start">
            Bạn đéo có quyền truy cập trang này. Đừng cố gắng nữa!
          </p>
        </div>
      </c-col>
    </c-row>
  </c-container>
</div>
